.cabeçalho_menu-haburger {
    width: 24px;
   height: 24px;
   background-image: url("../img/Menu.svg");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   }
.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    }
    .container {display: flex;
        align-items: center;}
        .container_imagem {width: 24px;
            padding: 1em;
        height: 24px;}
        .lista-menu {
            display: none;
            position: absolute;
        top: 100%
        }
        .container__botao:checked ~ .lista-menu {
            display: block;
            }
            .lista-menu_titulo {
                color: var(--laranja);
                font-weight: 700;
            }
            .container__botão {
display: none;
            }